body{
    background:#f5f7fb;
}

.card{
    border:none;
    border-radius:18px;
    box-shadow:0 8px 18px rgba(0,0,0,.08);
}

.card h5{
    color:#666;
    font-size:16px;
}

.metric{
    font-size:38px;
    font-weight:bold;
}

.metric-green{
    color:#198754;
}

.metric-red{
    color:#dc3545;
}

.chart-card{
    height:450px;
}

.table thead{
    background:#1f2937;
    color:white;
}

.navbar{
    box-shadow:0 2px 12px rgba(0,0,0,.1);
}