<div class="row mt-4 g-4">

    <div class="col-lg-6">

        <div class="card chart-card p-4">

            <h4>Portfolio Allocation</h4>

            <div style="position:relative;height:350px;width:100%;">

                <canvas id="portfolioChart"></canvas>

            </div>

        </div>

    </div>

    <div class="col-lg-6">

        <div class="card chart-card p-4">

            <h4>Portfolio Growth</h4>

            <div style="position:relative;height:350px;width:100%;">

                <canvas id="growthChart"></canvas>

            </div>

        </div>

    </div>

</div>